@import url("normalize.css");
img {
    display: inline-block;
    margin: 20px;
    padding: 5px;
    height: 150px;
    outline-style: dotted;
}

div {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}
