@import url("normalize.css");

html{
    font-size: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url(../bilder/background.jpg) no-repeat center center fixed;
    font-family: Helvetica, sans-serif;
}

body{

}

@font-face{
    font-family: 'Action Comics';
    src: url('../fonts/zwodrei_bold_demo.ttf');
}

header{
    width: 100%;
    height: 53px;
    background: white;
    display: block;
    padding-left: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 3px #00cc99 solid;
    margin-bottom: 2%;
}

header a{
    text-decoration: none;
}

main, footer{
    max-width: 760px;
    margin: 0 auto;
    color: white;
    background-color:rgba(192,192,192,0.3);
    padding: 20px;
    padding-top: 2px;
}

footer{
    margin-top: 20px;
    text-align: center;
    padding: 10px;
}

h1{
    display: inline-block;
    font-family: 'Action Comics';
    font-size: 1.5rem;
    color: black;
    position: absolute;
    margin-top: 17px;
    margin-left: 15px;
}

h1::first-letter{
    color: rgba(0, 168, 126, 1.0);
    a
}

h2{
    font-size: 1.4em;
    padding-left: 26px;
    font-family: 'Action Comics';
    text-shadow: 3px 0px 0px rgba(0, 168, 126, 1.0);
    background: url(../bilder/h1_before.png) no-repeat;
    background-size: 20px;
    background-position-y: -1px;
}

#logo{
    margin-top: 7px;
}

ol{
    padding-left: 20px;
}

/*ol li{
    display: block;
    width: 100%;
    text-align:center;
}*/

ul li{
    font-family: "Verdana" , sans-serif;
    font-size: 1em;
}

nav{
    height: 50px;
    position: absolute;
    top: 0px;
    right: 5%;
    padding-left: 50px;
}

nav ul{
    margin: 0 auto;
    padding: 0;
    height: 50px;
}

nav ul li{
    float: left;
    list-style: none;
    height: 50px;
}

nav ul li a{
    color: #3d4c5d;
    text-decoration: none;
    height: 34px;
    display: block;
    padding-top: 16px;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li ul li a{
    padding-top: 13px;
    padding-left: 8px;
    padding-right: 0px;
    width: 126px;
}

nav ul li ul li{
    height: 45px;
}

#menu > li:hover > a{
/*nav ul li a:hover{*/
    background-color: rgba(0,204,153,1.0);
    color: white;
}

#menu > li > a{
    transition: all 0.2s linear;
    background-color: rgba(255,255,255,1.0);
}


#menu ul{
     position: absolute;
     top: 30px;
     padding: 0;
     margin: 0;
     top: -9999px;
}

#menu ul li{
     float: none;
     font-size: 0.8em;
     padding: 0;
     text-align: left;
     width: 133px;
     height: 32px;
     /*text-transform: uppercase;*/
     margin: 0;
     border-bottom: 1px solid #ddd;
     line-height: 5px;
     background-color: rgba(255,255,255,1.0);
     -webkit-box-shadow: 0 2px 8px white;
     -moz-box-shadow: 0 2px 8px white;
     box-shadow: 0 2px 8px white;
     font-family: "Verdana", sans-serif;
}

#menu ul a{
     color: rgba(0,204,153,1.0);
     text-decoration: none;
}

#menu li:hover ul{
     top: 50px;
}

#menu ul li a{
     color: #3d4c5d;
     text-decoration: none;
}
 
#menu ul li a:hover{
     color: rgba(255,255,255,1.0);
}

#menu ul li:hover{
    transition: all 0.4s linear;
    background-color: rgba(0,204,153,1.0);
    color: rgba(0,0,0,1.0);
}

#show-menu-checkbox, #show-menu-label{
    /*background: url(../bilder/menu-lines.png) no-repeat;*/
    display: none;
    /*width: 35px;
    height: 35px;
    border: none;
    margin-top: 6px;
    margin-right: 15px;*/
}

dt{
    margin-top: 10px;
}



dt a{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 4px;
    font-weight: bold;
    font-size: 1.05em;
}



    dt a:hover{
        color: rgba(0, 168, 126, 1.0);
    }

    dt a::before{
        content: "\2663";
        margin-right: 5px;
    }

    dl dt{
        font-weight: bold;
    }

    dl{
        margin-top: 20px;
    }

dd{
    font-size: 0.9em;
    text-align: justify;
    margin-top: 5px;
}

dd img{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
}

dd address{
    margin-top: 20px;
}

@media (max-width: 850px){

    main, footer{
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 5%;
        margin-right: 5%;
    }

    header{
        padding-left: 2%;
    }

    nav{
        right: 2%;
    }

    ul li{
        font-size: 0.8em;
    }

}

@media (max-width: 700px){
    main{
        position: relative;
        margin-top: 60px;
    }

    h1{
        width: 60%;
        text-align: center;
        position: fixed;
        margin-left: 20%;
    }

    header{
        padding-left: 0;
        position: fixed;
    }

    nav ul{
        display: none;
    }

    #header-logo{
        position: fixed;
        margin-left: 10px;
        margin-top: 6px;
    }


    #logo{
        position: absolute;
        left: 10px;
        top: 0px;
    }

    #show-menu-checkbox:checked + ul{
        display: inline;
        /*test*/
    }

    #show-menu-checkbox:checked + ul li{
        height: 50px;
        width: 100%;
        height: 50px;
        width: 100%;
    }

    nav{
        right: 0;
        width: 100%;
    }

    header, nav{
        top: 0;
        z-index: 10;
        position: fixed;
    }


    #show-menu-label{
        display: inline;
        float: right;
        margin-right: 12px;
        margin-top: 9px;
        cursor: pointer;
    }

    #menu ul{
        position: static;
        top: 0;
        display: block;
    }

    .expandable + li{
        margin-top: 203px;
    }

    .expandable ul li a{
        padding-left: 60px;
        font-size: 1.2em;
    }

    dd img{
    width: 100%;
}

}
